.header {

}

.content {
  padding: 1rem;
}

.button {
  border-radius: 0px !important;
  background: $ceneoetl-primary;

  &.activated {
    background: $ceneoetl-secondary;
  }

  span {
    color: $ceneoetl-lite;
  }
}

.product-name-input-label {
  border: 1px solid $ceneoetl-primary;
}
