.header {

}

.content {
  padding: 1rem;
}

.button {
  border-radius: 0px !important;
  background: $ceneoetl-primary;

  &.activated {
    background: $ceneoetl-secondary;
  }

  span {
    color: $ceneoetl-lite;
  }
}

.product-name-input-label {
  border: 1px solid $ceneoetl-primary;
}

.tab-nav {
  display: none;
}

.has-tabs {
  bottom: 0 !important;
}

.action-buttons {
  padding: 30px;
}

.etl-buttons {
  padding: 10px;
}

.etl-progress {
  .list {
    min-width: 500px;
    width: 40%;
    margin: auto;
    margin-top: 30px;

    .etl-progress-item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: nowrap;
    }
  }
}

.spinner-container {
  display: flex;

  span {
    margin: auto;
  }
}
