/**
 * CeneoETL default colour palette
 */

$ceneoetl-lite: #ECF0F1;
$ceneoetl-dark: #2C3E50;
$ceneoetl-primary: #3498DB;
$ceneoetl-secondary: #2980B9;
$ceneoetl-accent: #E74C3C;
$ceneoetl-shadow: #121212;
