<ion-view title="ETL">
  <ion-content class="has-header">
    <div class="main-wrapper">

      <!-- info card -->
      <div class="card card-info">
        <div class="item item-text-wrap center-text card-background">
          <span class="card-text">Poniżej wpisz ID produktu, dla którego chcesz pobrać opinie</span>
        </div>
      </div>

      <!-- product name input -->
      <div class="list list-inset">
        <label class="item item-input product-name-input-label">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Szukaj..." ng-model="search.productId">
        </label>
      </div>

      <!-- etl buttons -->
      <div class="etl-buttons">
        <div class="button-bar">
          <button class="button" ng-click="extract()" ng-disabled="isProductNumberValid() || etlInProgress">
            <span>EXTRACT</span>
          </button>
          <button class="button" ng-click="transform()" ng-disabled="!hasExtractFinished || hasTransformFinished">
            <span>TRANSFORM</span>
          </button>
          <button class="button" ng-click="load()" ng-disabled="!hasTransformFinished">
            <span>LOAD</span>
          </button>
        </div>

        <button class="button button-full" ng-click="etl()" ng-disabled="isProductNumberValid() || hasTransformFinished || etlInProgress">
          <span>ETL</span>
        </button>
        <div class="spinner-container">
          <span>
             <ion-spinner icon="lines" ng-if="etlInProgress"></ion-spinner>
          </span>
        </div>
      </div>
      <ion-list class="etl-progress">
        <ion-item class="item etl-progress-item" ng-show="hasExtractFinished || hasLoadingFinished">
          <span>Liczba wykonanych requestów: </span>
          <span>{{ numberOfRequestsMade }}</span>
        </ion-item>
        <ion-item class="item etl-progress-item" ng-show="hasTransformFinished || hasLoadingFinished">
          <span>Produkt już był w bazie: </span>
          <span>{{ productExistsInDatabase  ? 'TAK' : 'NIE'}}</span>
        </ion-item>
        <ion-item class="item etl-progress-item" ng-show="hasLoadingFinished && productExistsInDatabase">
          <span>Liczba nowych opinii dodanych do istniejącego produktu: </span>
          <span>{{ numberOfReviewsAddedToDatabase }}</span>
        </ion-item>
        <ion-item class="item etl-progress-item" ng-show="hasLoadingFinished && !productExistsInDatabase">
          <span>Nowy produkt dodany do bazy z następującą liczbą opinii: </span>
          <span>{{ numberOfReviewsAddedToDatabase }}</span>
        </ion-item>
      </ion-list>

      <div class="action-buttons">
        <button class="button button-centered button-full" ng-click="clearReviews()" ng-disabled="!hasLoadingFinished">
          <span>Wyczyść wszystkie opinie dla tego produktu</span>
        </button>

        <button class="button button-centered button-full" ng-click="saveToCSV()" ng-disabled="!hasLoadingFinished" >
          <span>Zapisz wszystkie opinie o produkcie do pliku CSV</span>
        </button>

        <button class="button button-centered button-full" ng-click="viewReviews()" ng-disabled="!hasLoadingFinished">
          <span>Pokaż opinie</span>
        </button>
      </div>



    </div>
  </ion-content>
</ion-view>
