<ion-view title="Home">
  <ion-content class="has-header">
    <div class="etl-buttons">

      <!-- info card -->
      <div class="card">
        <div class="item item-text-wrap center-text card-background">
          <span class="card-text">Wprowadź nazwę produktu, którego opinie chciał(a)byś sprawdzić, a następnie użyj przycisku(-ów) ETL, aby rozpocząć proces.</span>
        </div>
      </div>

      <!-- product name input -->
      <div class="list list-inset">
        <label class="item item-input product-name-input-label">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Szukaj..." ng-model="search.productId">
        </label>
      </div>

      <!-- etl buttons -->
      <div class="button-bar">
        <button class="button button-full" ng-click="extract()" ng-disabled="isProductNumberValid()">
          <span>Extract</span>
        </button>
        <button class="button button-full" ng-click="transform()" ng-disabled="!hasExtractFinished || hasTransformFinished">
          <span>Transform</span>
        </button>
        <button class="button button-full" ng-click="load()" ng-disabled="!hasTransformFinished">
          <span>Load</span>
        </button>
      </div>

      <button class="button button-full" ng-click="etl()" ng-disabled="isProductNumberValid() || hasTransformFinished">
        <span>ETL</span>
      </button>

      <button class="button button-full" ng-click="clearReviews()" ng-disabled="!hasLoadingFinished">
        <span>CLEAR REVIEWS --- JUST FOR TESTING</span>
      </button>

      <button class="button button-full" ng-click="saveToCSV()" ng-disabled="!hasLoadingFinished" >
        <span>Zapisz opinie o produkcie do pliku CSV</span>
      </button>
    </div>
  </ion-content>
</ion-view>
