<ion-view title="Opinie">


  <ion-content class="has-header padding">

    <!-- product info card-->
    <div class="card card-info">
      <div class="item item-text-wrap center-text card-background">
        <div class="card-text">
          <span>{{productDetails.brand}}&nbsp;{{productDetails.model}}</span><br /><br />
          <span>ID: {{productDetails.id}}</span>
        </div>
      </div>
    </div>

    <ion-list>
      <ion-item class="review-container card-background" ng-repeat="review in reviews">

        <div class="item item-divider card-background-header review-item">
          <div class="card-text list-icon">
            <i class="icon ion-person"></i>
          </div>
          <div class="card-text">{{review.author}}</div>
        </div>

        <div class="item review-item">
          <div class="list-icon">
            <i class="icon ion-calendar"></i>
          </div>
          <div>{{review.submissionDate}}</div>
        </div>

        <div class="item review-item inner-items-space-between" ng-if="review.recommendsProduct">
          <div class="review-item">
            <div class="list-icon" ng-show="review.recommendsProduct === 'Polecam'">
              <i class="icon ion-checkmark color-green"></i>
            </div>
            <div class="list-icon" ng-show="review.recommendsProduct === 'Nie polecam'">
              <i class="icon ion-close color-red"></i>
            </div>
            <div>{{review.recommendsProduct}}</div>
          </div>
          <div class="review-item">
            <div class="list-icon">
              <i class="icon ion-star" ng-repeat="i in getNumber(review.starsCount) track by $index"></i>
              <i class="ion-ios-star-half" ng-if="hasHalfStar(review.starsCount)"></i>
            </div>
            <div>{{review.starsCount}}</div>
          </div>
        </div>



        <div class="item review-item wrap-normal">
          <div class="list-icon">
            <i class="icon ion-chatbubble-working"></i>
          </div>
          <div class="text-justify">{{review.summary}}</div>
        </div>


        <div class="item review-item" ng-if="review.advantages.length > 0">
          <div class="list-icon">
            <i class="icon ion-arrow-graph-up-right"></i>
          </div>
          <ul class="wrap-normal">
            <li ng-repeat="advantage in ::review.advantages">{{advantage}}</li>
          </ul>
        </div>

        <div class="item review-item" ng-if="review.disadvantages.length > 0">
          <div class="list-icon">
            <i class="icon ion-arrow-graph-down-right"></i>
          </div>
          <ul class="wrap-normal">
            <li ng-repeat="disadvantage in ::review.disadvantages">{{disadvantage}}</li>
          </ul>
        </div>

        <div class="item review-item inner-items-space-around">
          <div class="review-item">
            <div class="list-icon">
              <i class="icon ion-thumbsup color-green"></i>
            </div>
            <div class="color-green">{{review.ratedUsefulCount}}</div>
          </div>
          <div class="review-item">
            <div class="list-icon">
              <i class="icon ion-thumbsdown color-red"></i>
            </div>
            <div class="color-red">{{review.ratedUselessCount}}</div>
          </div>

        </div>

        <button class="button button-full margin-none" ng-click="saveReview(review.id)">
          <span>Zapisz tę opinię o produkcie do pliku CSV</span>
        </button>
      </ion-item>
    </ion-list>

    <ion-infinite-scroll ng-if="!noMoreItems" on-infinite="loadMoreItems()" distance="5%" icon="ion-loading-c"></ion-infinite-scroll>

  </ion-content>
</ion-view>
